*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #2b2d42;
    text-align: center;
}

img {
    max-width: 100%;
}


/**** Typography *****/

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

p,
.tools__list__item {
    letter-spacing: .05em;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

button {
    border: none;
    margin: 0;
    padding: .5em;
}

span,
strong {
    color: #d80032;
}

strong {
    text-transform: uppercase;
}

/******* Hover effects, Box-shadows, 
Animated underline *******/

/* Social Icons stylings */
.fab,
.fas {
    font-size: 4rem;
    color: #d80032;
    filter: drop-shadow(.1rem .1rem .1rem #8d99ae); /* Icons need drop shadow vs box-shadow */
    transition: all .2s ease-in-out;
    padding: .5em;
}


.fab:hover,
.fas:hover,
.fab:focus,
.fas:focus {
    transform: scale(1.1);
}

.logo {
    width: 75%;
    height: auto;
}

/* Profile Picture Stylings */
.profile__pic {
    border-radius: 50%;
    margin: 3em 0 1em;
    width: 25%;
    height: auto;
    /* -moz-box-shadow: 1px 1px 10px #2b2d42;   Profile pic originally had shadows and hover effects, but based on feedback, this was removed 
    -webkit-box-shadow: 1px 1px 10px #2b2d42;
    box-shadow: 1px 1px 10px #2b2d42;
    transition: all .2s ease-in-out; */
}

.tools__list__item {
    color: #2b2d42;
    font-weight: 600;
    padding-bottom: 1em;
}

/* Work section images (and footer image) stylings */
.work__img__photo,
.contact__img /* footer image */ {
    border-radius: 5px;
}

.work__img__photo {
    margin-bottom: 1em;
    -moz-box-shadow: 1px 1px 10px #2b2d42;
    -webkit-box-shadow: 1px 1px 10px #2b2d42;
    box-shadow: 1px 1px 10px #2b2d42;
    transition: all .2s ease-in-out;
}

.work__img__photo:hover,
.work__img__photo:focus {
    transform: scale(1.02);
    -moz-box-shadow: 3px 3px 10px #2b2d42;
    -webkit-box-shadow: 3px 3px 10px #2b2d42;
    box-shadow: 3px 3px 10px #2b2d42;
}

/* Email Button Stylings */
.email__btn {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    padding: .5em 2em;
    background: linear-gradient(to right, #d80032, #2b2d42);
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    -moz-box-shadow: 1px 1px 5px black;
    -webkit-box-shadow: 1px 1px 5px black;
    box-shadow: 1px 1px 5px black;
    transition: all .2s ease-in-out;
}

.email__btn:hover,
.email__btn:focus {
    transform: scale(1.1);
    -moz-box-shadow: 3px 3px 5px black;
    -webkit-box-shadow: 3px 3px 5px black;
    box-shadow: 3px 3px 5px black;
}

/* Background Colors */
header {
    color: black;
    background: linear-gradient(#8d99ae, #edf2f4);
}

#about {
    background: #edf2f4;
    padding: 2em 0;
}

#tools {
    background: #edf2f4;
    padding-bottom: 1em;
}

#work {
    background: linear-gradient(#edf2f4, #8d99ae);
    padding-bottom: 4em;
}

#contact{
    background: #edf2f4;
    padding: 2em 0;
}

/******** Scrollbar ********/

/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: linear-gradient(#d80032, #2b2d42); 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #d80032; 
}


/******** Mobile Layout ******/

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1em;
    border-radius: 10px;
}

.flex,
.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__sub-title {
    text-align: center;
    padding: 1em 0;
}

.header__nav {
    display: none;
}

.header__nav--mobile {
    display: block;
    position: fixed;
    overflow: hidden;
    z-index: 25;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #2b2d42;
    background: #8d99ae;
    padding-bottom: 2em;
}

.header__nav--mobile nav {
    width: 90%;
    margin: 0 auto;
}

.header__nav__list--mobile {
    display: flex;
    justify-content: space-around;
    margin: 0;
    text-align: center;
}

.header__nav__list--mobile i, a {
    display: block;
    color: #d80032;
}

.header__nav__list--mobile a {
    text-decoration: none;
    text-align: center;
    padding: .25em;
}

.header__nav__list--mobile a:visted {
    color: #d80032;
}

.header__nav__list--mobile .header__nav__item__link {
    font-size: .8rem;
}

.mobile-nav-icon {
    color: white;
    font-size: 1.25rem;
}

.header__nav__list--mobile li:hover {
    background: #fff;
}

.work__img {
    width: 100%;
    margin: 2em auto 0;
}

.social__icons {
    display: flex;
    justify-content: center;
}

.work__text__body {
    margin-bottom: 0;
}

.work__text__link {
    color: #d80032;
    text-decoration: none;
}

.work__text__link:hover,
.work__text__link:focus {
    color: #ef233c;
    text-decoration: underline;
}

.work__github {
    display: inline-block;
    margin-top: 1em;
    text-decoration: none;
    color: #d80032;
    font-size: 1.25rem;
}

.work__github:hover,
.work__github:focus {
    color: #ef233c;
    text-decoration: none;
}

.email__title {
    padding-top: 1em;
}

.email__sub-title {
    padding-bottom: 1em;
}

.copyright {
    padding-top: 2em;
}

/******* Tablet layout *****/

@media (min-width: 700px) {

    p {
        font-size: 1.2rem;
    }

    .header__nav {
        order: -1;
        width: 100%;
    }

    .header__nav__list {
        display: flex;
        justify-content: space-between;
    }

    .about__col {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0;
    }

    .about__col__body {
        width: 48%;
        text-align: left;
    }

    .tools__list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .tools__list__item {
        width: 45%;
    }

    .work__text__wrapper {
        width: 75%;
        margin:0 auto;
    }

    
}


/******* Desktop layout *******/
@media (min-width: 900px) {

    /* General typography */

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    p, 
    .tools__list__item {
       font-size: 1.2rem;
    }

    .fab {
        font-size: 5rem;
    }

    /***** Layout *****/

     /*** Header ***/

    .header {
        width: 70%;
        justify-content: center;
    }

    .flex {
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }

    header .flex {
        flex-direction: column;
    }

     /* Navigation Stylings */

    .header__nav--mobile {
        display: none;
    }

    .header__nav {
        display: block;
        order: -1;
        width: 100%;
        position: fixed;
        top: 0;
        border-bottom: 1px solid #d80032;
        background: #8a96a4;
        z-index: 1000;
    }

    .header__nav__list {
        justify-content: center;
        align-items: center;
    }

    .header__nav__item {
        text-transform: uppercase;
        font-size: 2rem;
        padding: .5em;
    }

    .header__nav__item__link {
        text-decoration: none;
        color: #fff;
    }

        /* Animated underline */
    .header__nav__item__link:after {
        content: ""; /* This is necessary for the pseudo element to work. */ 
        display: block; /* This will put the pseudo element on its own line. */
        width: 0%; /* Change this to whatever width you want to have before hover. */
        border-bottom: 5px solid #d80032; /* This creates the border. */
        /* border-image: linear-gradient(to right, #d80032, #2b2d42) 1; allows a gradient to be used for my border-bottom. Displays wierdly on mobile, start of underline is present without hovering. */
        transition: .5s; /* This establishes the amount of time in seconds the animation should take from start*/
    }

    .header__nav__item__link:hover:after,
    .header__nav__item__link:focus:after {
        width: 100%; /* This will be the new width of your border when on hover */
    }

    .header__nav__item__link--first:hover:after,
    .header__nav__item__link--first:focus:after {
        width: 0; /* This will be the new width of your border when on hover */
    }
    
    .logo {
        padding-top: 8em;
    }

    .logoSmall {
        width: 80px;
        height: auto;
        display: none;
        transition: transform 0.5s ease;
    }
    
    .show {
        display: block;
    }
    

    /* Work section */
    
    .work__col {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .work__col__thirds {
        padding: 3rem 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .work__img {
        margin: 0;
        width: 48%;
    }
        
    .work__text {
        width: 48%;
        text-align: left;
        margin: 0;
    }

    .work__text__title {
        padding-top: 0;
    }

    /* Footer */

    footer .flex {
        justify-content: space-between;
        align-items: center;
    }

    .footer__col {
        width: 48%;
    }

    .contact__info {
        width: 48%;
    }

    .email__title {
        font-size: 2.25rem;
        padding: 0;
    }

    .email__sub-title {
        font-size: 1.125rem;
    }
}

/**** Footer text and button need to be bigger at this screen size ****/
@media (min-width: 1045px) {

    p,
    .tools__list__item {
        font-size: 1.3rem;
     }

    .email__title {
        font-size: 2.5rem;
    }

    .email__sub-title {
        font-size: 1.5rem;
    }

    .email__btn {
        padding: .7em 2.25em;
        font-size: 1.5rem;
    }

   
}


