/* font-family: 'Lora', serif; for Headings 
font-family: 'Montserrat', sans-serif;
font-family: 'Jost', sans-serif;

*/


*, *::before, *::after {
    box-sizing: border-box;
}

/* html {
    background: linear-gradient(#8d99ae, #edf2f4);
} */

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    color: #2b2d42;
    text-align: center;
    
}

img {
    max-width: 100%;
}


/**** Typography *****/

h1,
h2,
h3 {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Permanent Marker', cursive;
}

h1 {
    font-size: 2rem;
}

.work__heading {
    margin-bottom: -1em;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: .8rem;
    letter-spacing: .05em;
}

nav {
    text-align: center;
}

.nav__list--item {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 1rem;
    font-style: italic;
    
}

.nav__list--item:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    width: 0%; /* Change this to whatever width you want to have before hover. */
    border-bottom: 5px solid #d80032; /* This creates the border. */
    transition: .5s; /* This establishes the amount of time in seconds the animation should take from start*/
}

.nav__list--item:hover:after,
.nav__list--item:focus:after {
    width: 100%; /* This will be the new width of your border when on hover */
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: .5em;
}

.fab {
    font-size: 2em;
    color: #d80032;
    filter: drop-shadow(.5rem .5rem .75rem #8d99ae);
    transition: all .2s ease-in-out;
}

.fab:hover,
.fab:focus {
    transform: scale(1.1);
}

.email-btn {
    display: inline-block;
    font-family: 'Permanent Marker', cursive;
    padding: .5em 2em;
    background: linear-gradient(to right, #d80032, #2b2d42);
    color: #fff;
    text-decoration: none;
    border-radius: 100px;
    text-transform: uppercase;
    -moz-box-shadow: 1px 1px 10px black;
    -webkit-box-shadow: 1px 1px 10px black;
    box-shadow: 1px 1px 10px black;
    transition: all .2s ease-in-out;
}

.email-btn:hover,
.email-btn:focus {
    transform: scale(1.1);
}

.profile-pic {
    order: -1;
    border-radius: 50%;
    margin: 1em 0;
    width: 25%;
    height: auto;
    filter: drop-shadow(5px 5px 5px #2b2d42);
    transition: all .2s ease-in-out;
}


.profile-pic:hover,
.profile-pic:focus {
    transform: scale(1.1);
}

/* Original setup of social icons spinning on hover
.i-spin:hover,  
.i-spin:focus {
    animation: spin-animation .6s;
    display: inline-block;
}

@keyframes spin-animation { 
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  } */

span {
    color: #d80032;
}

strong {
    text-transform: uppercase;
}

header {
    color: black;
    background: linear-gradient(#8d99ae, #edf2f4);
    
}

.header__text {
    text-align: center;
    padding: 0;
    margin-top: 1em;
}

.header-color {
    background: linear-gradient(#8d99ae, #edf2f4);
}

#about {
    background: #edf2f4;
}

#work {
    background: linear-gradient(#edf2f4, #8d99ae);
}

#contact{
    background: #edf2f4;
}


/***** Mobile Layout *****/

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em 0em;
    border-radius: 10px;
}

.full-width,
.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-width {
    margin-top: 2.5em;
}

.work__img {
    width: 80%;
    margin: 0 auto;
}

.social__icons {
    display: flex;
    justify-content: center;
}

.work__text--title {
    padding-top: 1em;
}

.work__text--body {
    margin-bottom: 0;
}

.work__text a {
    color: #d80032;
    text-decoration: none;
}

.work__text a:hover,
.work__text a:focus {
    color: #ef233c;
    text-decoration: underline;
}

.email__title {
    padding-top: 1em;
}

.email__sub-title {
    padding-bottom: 1em;
}

/******* Tablet layout *****/

@media (min-width: 600px) {
    .about__col {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0;
    }

    .about__body {
        width: 48%;
        text-align: left;
    }

    .work__text--wrapper {
        width: 75%;
        margin:0 auto;
    }
}


/******* Desktop layout *******/

@media (min-width: 900px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    p {
       font-size: 1.3rem;
    }

    .fab {
        font-size: 4em;
    }

    .full-width {
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }

    .header {
        width: 70%;
        justify-content: center;
    }

    .header__nav {
        padding-left: 4em;
    }

    .nav__list--item {
        font-size: 2em;
        text-align: left;
    }
    
    .work__col {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .third-width {
        padding: 3rem 0;
        justify-content: space-between;
        align-items: flex-start;
    }

    .work__img {
        margin: 0;
        width: 48%;
    }
        
    .work__text {
        width: 48%;
        text-align: left;
        margin: 0;
    }

    .work__text--title {
        padding-top: 0;
    }

    .work__text--body {
        font-size: ;
    }

    .third-width {
        display: flex;
    }

    /* Footer */

    footer .full-width {
        justify-content: space-between;
        align-items: center;
    }

    .footer__col {
        width: 48%;
    }

    .contact-info {
        width: 48%;
    }

    .email__title {
        font-size: 2.25rem;
        padding: 0;
    }

    .email__sub-title {
        font-size: 1.125rem;
    }
    
}

/**** Footer text and button need to be bigger at this screen size ****/

@media (min-width: 1045px) {
    .email__title {
        font-size: 2.5rem;
    }

    .email__sub-title {
        font-size: 1.5rem;
    }

    .email-btn {
        padding: .7em 2.25em;
        font-size: 1.5rem;
    }
}

